Repository elphiethewitch/nostrvine: changes, and which pre-commit hooks are due for each by the changed paths.
All: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

flutter-analyze:
  name: Flutter Analyze
  entry: bash -c 'cd mobile && flutter analyze'
  language: system
  pass_filenames: false

flutter-format:
  name: Flutter Format
  entry: bash -c 'cd mobile && dart format --set-exit-if-changed .'
  language: system
  pass_filenames: false

flutter-test:
  name: Flutter Test
  entry: bash -c 'cd mobile && flutter test'
  language: system
  pass_filenames: false

check-file-length:
  name: Check File Length
  entry: mobile/tools/max_file_length.dart
  language: dart

check-function-length:
  name: Check Function Length
  entry: mobile/tools/max_function_length.dart
  language: dart

aboutme-comments:
  name: Check ABOUTME Comments
  entry: mobile/tools/check_aboutme_comments.dart
  language: dart

test(infrastructure): update test input and output file for widget test generation
  mobile/test/infrastructure/mass_test_generation_test.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length

fix: CRITICAL - fix blank screen when navigating to profile from videos
  mobile/lib/main.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

fix: profile info now displays and dispose error resolved
  backend/src/handlers/url-import.ts
  backend/src/index.ts
  mobile/lib/screens/profile_screen.dart
  mobile/lib/widgets/video_fullscreen_overlay.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

fix: resolve video feed display issue by bridging VideoManager with home feed
  CHANGELOG.md
  CLAUDE.md
  mobile/lib/providers/video_manager_providers.dart
  mobile/lib/services/video_event_service.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

docs(backend): add Cloudflare Stream migration plan, endpoints, serving redirects, and KV mappings to Unreleased
  CHANGELOG.md
Due: none

feat: integrate ProofMode badges across all video display contexts
  mobile/.private-journal/2025-10-05/00-33-49-180433.embedding
  mobile/.private-journal/2025-10-05/00-33-49-180433.md
  mobile/lib/widgets/proofmode_badge_row.dart
  mobile/lib/widgets/video_explore_tile.dart
  mobile/lib/widgets/video_feed_item.dart
  mobile/lib/widgets/video_preview_tile.dart
  mobile/test/examples/example_service_test.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

refactor: consolidate key derivation to use NostrEncoding.derivePublicKey()
  mobile/lib/utils/secure_key_container.dart
  mobile/test/utils/secure_key_container_refactor_test.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

fix: update tests for new finishRecording() tuple API
  mobile/test/services/macos_camera_interface_test.dart
  mobile/test/services/vine_recording_controller_concatenation_test.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length

test: add comprehensive E2E test for upload → publish flow
  mobile/test/integration/upload_publish_e2e_comprehensive_test.dart
  mobile/test/integration/upload_publish_e2e_comprehensive_test.mocks.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length

feat: add route parsing and building utilities
  mobile/lib/router/route_utils.dart
  mobile/test/router/route_utils_test.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

feat: add router-driven ProfileScreen with TDD
  mobile/lib/providers/profile_feed_providers.dart
  mobile/lib/router/app_router.dart
  mobile/lib/screens/profile_screen_router.dart
  mobile/test/providers/app_lifecycle_provider_test.dart
  mobile/test/screens/profile_screen_router_test.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

fix(thumbnails): match video player aspect ratio and BoxFit to prevent visual jump
  mobile/lib/widgets/video_thumbnail_widget.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

test: move failing TDD error widget tests to old_files
  mobile/test/old_files/error_widget_test.dart
  mobile/test/old_files/global_error_handler_test.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length

fix(tests): fix feature flag integration test mock timing issues
  mobile/test/integration/feature_flag_integration_test.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length

docs(test-progress): add Session 3 final summary - 115 tests fixed, 5 production bugs
  mobile/TEST_FIX_PROGRESS.md
Due: none

fix(tests): fix home_feed_provider tests - prevent auto-dispose during async ops
  mobile/lib/providers/home_feed_provider.dart
  mobile/test/providers/home_feed_provider_test.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

fix(ios): remove stale wakelock_plus pod reference causing build failure
  mobile/CHANGELOG.md
  mobile/ios/Podfile
  mobile/pubspec.yaml
Due: none

fix(test): add async delays for BackgroundActivityManager service notifications
  mobile/test/services/background_activity_manager_test.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length

fix(ui): correct video grid thumbnail layout to display square videos
  mobile/CHANGELOG.md
  mobile/lib/widgets/composable_video_grid.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

fix(ui): improve profile screen tab bar styling
  mobile/lib/screens/profile_screen_router.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

big refactor
  .claude/CLAUDE.md
  .private-journal/2025-10-31/09-37-43-838381.embedding
  .private-journal/2025-10-31/09-37-43-838381.md
  .private-journal/2025-10-31/11-01-07-465209.embedding
  .private-journal/2025-10-31/11-01-07-465209.md
  .private-journal/2025-10-31/11-35-09-843613.embedding
  .private-journal/2025-10-31/11-35-09-843613.md
  .private-journal/2025-11-03/10-30-48-029739.embedding
  .private-journal/2025-11-03/10-30-48-029739.md
  .private-journal/2025-11-03/10-36-01-335221.embedding
  .private-journal/2025-11-03/10-36-01-335221.md
Due: none

feat: implement auto-draft creation in VineRecordingProvider
  mobile/lib/providers/vine_recording_provider.dart
  mobile/test/providers/vine_recording_provider_auto_draft_test.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

fix: replace blocking await for with reactive stream listener in CommentsProvider
  mobile/lib/providers/comments_provider.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

refactor: update tab labels and styling for Explore and Notifications screens
  mobile/lib/screens/explore_screen.dart
  mobile/lib/screens/notifications_screen.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

fixing content reporting and user delete screens
  mobile/lib/screens/settings_screen.dart
  mobile/lib/widgets/share_video_menu.dart
  mobile/lib/widgets/video_thumbnail_widget.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

Remove aspect ratio constraints and improve camera preview layout
  mobile/lib/screens/pure/universal_camera_screen_pure.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

#166: added the link to the demo website
  README.md
Due: none

fix: address code review findings for Zendesk integration
  mobile/android/app/src/main/kotlin/co/openvine/app/MainActivity.kt
  mobile/ios/Runner/AppDelegate.swift
  mobile/lib/screens/settings_screen.dart
Due: flutter-analyze, flutter-format, flutter-test, check-file-length, check-function-length, aboutme-comments

Path conditions:
  flutter-analyze: any of: \.dart$
  flutter-format: any of: \.dart$
  flutter-test: any of: \.dart$
  check-file-length: any of: \.dart$, but not: \.g\.dart$|\.freezed\.dart$|\.mocks\.dart$
  check-function-length: any of: \.dart$, but not: \.g\.dart$|\.freezed\.dart$|\.mocks\.dart$
  aboutme-comments: any of: \.dart$, but not: test/|\.g\.dart$|\.freezed\.dart$|\.mocks\.dart$
